@inherits LayoutComponentBase

 

 
<div class="page">
    <div style="width: 100%; position:relative; height:100vh;">
    <img src="bg.jpg" Alt="Background Image" Style="position:fixed; z-index:-2; object-fit:cover; width:100vw;" />
    <div class="">
        <NavMenuAdmin />
    </div>

    <main>
        <article class="">
            @Body
        </article>
    </main>
</div
</div>