 

<div class="" onclick="document.queryselector('.navbar-toggler').click()">
    <nav class=" navbar">

        <NavLink href="admin/" class="btn1">
            Dashboard
        </NavLink>
     
        <NavLink href="admin/coffee" class="btn1">
            Coffee
        </NavLink>
 
   
        <NavLink href="admin/coffeeTopings" class="btn1">
            Coffee  Add-ins

        </NavLink>
  
   
        <NavLink href="admin/staff" class="btn1">
      Staffs
        </NavLink>

        <NavLink href="admin/membership" class="btn1">
            Register Member
        </NavLink>

        <NavLink href="admin/order" class="btn1">
              Orders
        </NavLink>


        <NavLink href="/" class="btn1">
        Log Out
    </NavLink>
    </nav>
</div>
 