<style>
  
</style> 


<div class="" style="position: relative;" onclick="document.queryselector('.navbar-toggler').click()">
     <nav class="navbar">
        <NavLink href="/staff/" class="btn1">
            Menu
        </NavLink>
   
        <NavLink href="/" class="btn1">
            Log Out
        </NavLink>
     </nav>
</div>