@page "/"

<style>
    
    

    .home-page {
        display: flex;
        width: 100%;
   
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size:4rem;
        margin: 3em 0em;
        text-align: center;
        font-weight: 500;
    }
</style>

<div >
    <div class="home-page">
        <div style="display: grid; padding: 5em 5em;">
            <div class="title">Bislerium Cafe</div>
            <div>
                <NavLink class="btn1" href="login/admin">
                    Login As Admin
                </NavLink>

                <NavLink class="btn1" href="login/staff">
                    Login As Staff
                </NavLink>
            </div>
        </div>

    </div>

</div>


 